.peoplepicker-footer{
    position: fixed;
    bottom: 0;
    width:100%;
    margin-bottom: 0;
    padding: 0;
    background:#ee6e73;
}
.peoplepicker-footer .row {
  margin-bottom: 15px;
}
.peoplepicker input {
  background:#fff;
    position: relative;
    z-index: 99999;
    display: inline-block;
    font-size:1.2em;
    padding:0 0 0 10px;
}

.peoplepicker i.material-icons.prefix {
    font-size: 3rem;
    left: 0;
}

.peoplepicker i.material-icons.prefix.active {
  color:#fff;
}
input.select2-search__field {
    margin-bottom: 5px;
    font-size: 1.2em;
}
ul#select2-peoplepicker-results {
    max-height: 130px;
}
span.select2-container.select2-container--default {
    font-size: 1.2em;
}
span.select2-selection.select2-selection--single {
    height: 40px;
    font-weight: 300;
}

span#select2-peoplepicker-container {
    position: relative;
    top: 5px;
    font-size: 1.2em
}

.waves-effect {
  z-index: 0
}
.tasktabs.row {
  margin-bottom: 65px;
}