form, input, button, 
.input-field input {
	font-size: 1.1rem;
}
.input-field label,
.input-field label.active {
	font-size: 1.0rem
}
.card-content .row:first-child {
	margin-top: 10px;
}
.card-content .row {
	margin-bottom: 15px;
}
.card .card-content {
	padding-bottom: 0;
}
.card .card-action {
	border-top: none;
	padding-top: 0;
}
.card .card-action .help {
	margin-top:30px;
}
.card .card-action .help a{
	text-transform: inherit !important;
	margin: 0 auto !important;
}
